<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="category in order.products">
  <div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <button class="btn btn-default btn-block collapsed" type="button" data-toggle="collapse" data-target="#{{ category.name }}" aria-expanded="false" aria-controls="collapseExample" ng-bind="category.name">
        </button>
      </h4>
    </div>
    <div id="{{ category.name }}" class="panel-collapse collapse products" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item clearfix" ng-repeat="product in category.products">
            <span ng-bind="product.name" class="products-text pull-left"></span>
            <span class="badge pull-left" ng-bind="order.product_count[ product.id ]"></span>
            <div class="btn-group pull-right" role="group">
              <button class="btn btn-default btn-xs" ng-click="order.removeItem(product.id)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
              <button class="btn btn-default btn-xs" ng-click="order.addItem(product.id)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger btn-block collapsed btn-lg" ng-disabled="order.order.length === 0" ng-click="order.updateOrder">Check on</button>
